.panel {
    width: 100%;
    /*display: inline-block;*/
    text-align: left;
    vertical-align: top;
    font-size: 12px;
    border:1px solid black;
}

.panel h2 {
    text-align: left;
    margin-top: 2px;
    margin-bottom: 2px;
}

input[type="text"], textarea {
    width: 100%;
    max-width: 100%;
}

