select{
   color: black;
   background-color: white;
   height: 25px;
   width: 100%;
}

select:disabled, dropdown:disabled {
    background-color: rgb(235, 235, 228);
}

dropdown{
    height: 50px;
    width: 100%;
}